.App{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  text-align: center;
  height: 100vh;
  #quote-box{
    width: 80%;
    background-color: #D9D9D9;
    padding: 3.5rem 3.5rem 2rem ;
    border-radius: 8px;
  }
}

#text{
  font-size: 2rem; 
}

#author{
  font-weight: bold;
  font-size: 1.5rem;
  text-align: right;
  padding: 10px 0;
}