@import url("https://fonts.googleapis.com/css?family=Courgette|Open+Sans&display=swap");

*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0;
  transition: all 0.2s linear;
}
body {
  background: #4a744b url("./forest-wallpaper.jpg") no-repeat fixed center;
  font-size: 1rem;
  font-family: "Open Sans", sans-serif;
}

.courgette {
  font-family: "Courgette", cursive;
}

.App {
  height: 100vh;
  display: grid;
  justify-items: center;
  grid-template-columns: 100%;
  grid-template-rows: 1fr 3fr 1fr;
  grid-template-areas:
    "title"
    "container"
    "by";
  .title {
    grid-area: title;
    text-align: center;
    align-self: center;
    font-size: 4.5rem;
    color: rgb(50, 204, 50);
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black,
      2px 2px 0 white;
    font-family: "Courgette", cursive;
  }
  .container {
    grid-area: container;
    align-self: center;
  }
  .by {
    grid-area: by;
    align-self: center;
    font-size: 1.2rem;
    a {
      color: white;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

#quote-box {
  height: auto;
  width: 80%;
  color: rgb(22, 65, 26);
  background-color: #d9d9d9;
  padding: 3.5rem 3.5rem 2rem;
  margin: auto;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 0 15px 2px #1c5b1a;
}

#text {
  font-size: 2.5em;
}

#author {
  font-weight: bold;
  font-size: 1.5em;
  text-align: right;
  padding: 10px 0;
}

#buttons {
  margin-top: 1.25rem;
  &:after {
    content: "";
    clear: both;
    display: table;
  }
}

#tweet-quote {
  float: right;
}

#new-quote {
  float: left;
}

.btn {
  display: inline-block;
  user-select: none;
  padding: 0.5rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border: 0;
  border-radius: 10rem;
  text-decoration: none;
  cursor: pointer;
  color: #fff;
  background: linear-gradient(to right, #4a744b 0%, lighten(#4a744b, 30%) 100%);
  &:hover {
    box-shadow: 0 0 4px #1c5b1a, 0 0 10px rgba(28, 91, 26, 0.6);
  }
}

@media screen and (max-width: 600px) {
  .title {
    justify-self: center;
    font-size: 3rem !important;
  }

  #quote-box {
    padding: 2rem 2rem 1rem;
  }
  #text {
    font-size: 1.5em;
  }
  #author {
    font-size: 1.2em;
  }
  .btn {
    font-size: 1rem;
    width: 100%;
    margin-bottom: 0.5rem;
  }
}
